# Database
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress

# WordPress Admin
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@example.com

# Site
WP_SITE_TITLE="WP Test"
